<strong> Hello, {{ organizer }} </strong>
<p>You have a new subscriber at your meetup {{ meetup }}! You can see the details below:
</p>

<p>
<strong>Name: </strong> {{ user }} <br />
<strong>Email: </strong> {{ email }} <br />
</p>
